.printing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.printing-box{
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 4vw;
    margin: 2rem;
    width: 90vw;
    padding-left:auto ;
    padding-right: auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.printing-info{
    padding: 1rem;
}

.printing-info p{
    font-size: large;
}

.printing-img{
    width: 40vw;
    height: 40vh;
}

.priinting-info{
    text-align: left;
}

@media screen and (max-width: 480px){
    
.printing-box{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rev{
    flex-direction: column-reverse;
}

.printing-img{
    width: 100%;
}


}