.products{
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-top: 20vh;
    margin-left: 5vw;
    gap: 5vh;
}

.head{
    margin: 1vh;
}

.header{
    padding: 0.5rem 0.8rem;
}

.productimg{
    width: 17vw;
}

.productbox:hover{
    transform: scale(1.05);
}

.productbox{
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.aclist{
    cursor: pointer;
    margin: 0.5rem;
}

.product{
    margin: 1rem;
}


.displaybox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60vw;
}

.productname{
    width: 100%;
}


@media screen and (max-width: 480px){

    .products{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .accordion{
        text-align: start;
        width: 80%;
    }

    .productimg{
        width: 80vw;
    }

    .displaybox{
        flex-direction: column;
        width: 90vw;
    }


}

@media screen and (min-width: 480px){

    .accordion{
        width: 30%;
        text-align: start;
    }
}