body{
    overflow-x: hidden;
}
.products{
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
    margin-left: 3vw;
    gap: 20vh;
    padding-top: 2vh;
}

.prodhead{
    background-color: black;
    color: white;
    border: 1px solid black;
    /* border-radius: 5px 5px 0px 0px; */
    padding: 0.6rem;
    padding-left: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.MuiAccordionDetails-root{
    border-top: 1px solid black;

}

.product-li{
    text-align: start;
    display: flex;
    align-items: center;
    gap: 5vw;
    margin-left: -0.5vw;
}

.head{
    margin: 1vh;
}

.header{
    padding: 0.5rem 0.8rem;
}

.productimg{
    width: 17vw;
}

.productbox:hover{
    transform: scale(1.05);
}

.productbox{
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.aclist{
    cursor: pointer;
    margin: 0.5rem;
}

.product{
    margin: 1rem;
}


.displaybox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60vw;
}

/* .productname{
    width: 100%;
} */

.quotebtn{
    width: 90%;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: 0.6rem 0px;
    margin: 1rem;
    margin-top: 0.6rem;
}

@media screen and (max-width: 480px){
    .product-li{
        flex-direction: column;
        align-items: start;
        gap: 0px;
    }
    .products{
        flex-direction: column;
        gap: 5vh;
        margin-left: 0px;
        /* margin-top: 20vh; */
        /* padding-top: 24vh; */
    }

    .displaybox{
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
        align-items: center;
        width: 100%;
    }

    .productbox{
        width: 50vw;
        padding: 0px;
    }

    .productimg{
        width: 40vw;
    }
    .quotebtn{
        margin-right: 0;
    }

/* 
    .products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3vw;
    }
    .accordion{
        text-align: start;
        width: 80%;
    }
    .productbox{
        width: 40vw;
    }

    .productimg{
        width: 40vw;
    }

    .displaybox{
        flex-direction: column;
        width: 40vw;
    } */


}

@media screen and (min-width: 480px){

    .accordion{
        width: 25%;
        text-align: start;
    }
}