body{
    overflow-x: hidden;
    /* font-family: 'Mukta'; */
    /* font-family: 'Caprasimo'; */
    font-family: 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h5,p{
    margin: 0.5rem;
}


/* NAVBAR */

.nav{
    /* background-color: black; */
    color: black;
    height: 12vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav_black{
    background-color: black;
    color: white;
}

.logo{
    height: 10vh;
    /* margin-left: 1.5rem; */
}

.nav-items{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-right: 2rem ;

}

.scroll{
    text-decoration: none;
    color: inherit;
    font-size: x-large;
}


.nav-list{
    cursor: pointer;
    font-size: x-large;
    text-decoration: none;
}

.nav-list:hover{
    cursor: pointer;
    transform: scale(1.1);
}

/* BANNER    */
.banner{
    height: 100vh;
}

.carousel .thumbs{
    display: none;
}

/* How it Works  */

.howwework{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 1rem;
}

.work{
    text-align: start;
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem 3rem 2rem;
    gap: 2rem;
    
}

.workcard{
    /* border: 1px solid white; */
    background-color: white;
    color: black;
    width: 30%;
    padding: 1rem;
    border-radius: 10px;
    font-size: 0.9rem;
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


/* HOMECONTACT */

.homecontact{
    width: 100%;
    text-align: center;
    height: 20vh;
    background-color: white;
    padding: 2rem;
    margin-bottom: 1rem;
}

.contactbtn{
    padding: 0.5rem 0.8rem;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;

}

.contactbtn:hover{
    transform: scale(1.1);
    cursor: pointer;
    background: white;
    color: black;
    border: 1px solid black;
    transition: ease-in 0.1s;
}

                                    /* PROCESS */
.process{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    align-items: center;
}

.processbox{
    width:400px;
    padding: 1rem;
    margin: 1rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.processbox:hover{
    transform: scale(1.1);
}


.processhead{
    padding-top: 40px;
}

/* SERVICES */

.services{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.servicecard{
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    font-size: 0.9rem;
    cursor: pointer; 
}

.servicecard:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transform: scale(1.1);  
}


/* WHY CHOOSE US  */
.whychooseus{
background-color: #c1bfbf;
padding: 5rem 3rem ;
}


.boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 1.2rem;
    margin: 5rem 0rem;
}

.box{
    /* height: 25vh; */
    /* width: 15vw; */
    width: 300px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: white;
    /* margin: 0.5rem; */
    padding: 1rem 1.5rem;
}

.box:hover{
    transform: scale(1.1);
}


@media screen and (max-width: 480px){
    .whychooseus{
        padding: 1rem;
    }
    .boxes{
        margin: 1rem;
        gap: 0px;
        flex-direction: row;
    }
    .box{
        width: 50vw;
    }
    .clients{
        margin: 0px 0px;
    }
    .client{
        width: 30vw;
    }
}


/* .chooseicon{
    text-align: left;
    margin-left: 2vw;
} */

.sticker{
    height: 80px;
}

.no{
    background-color: rgb(255, 255, 255);
    /* border: 0.1px solid black; */
    border-radius: 90px;
    padding: 0.6rem;
    margin: 1rem;
    width: 40px;
}

.no:hover{
        background: #040504;
        color: white;
        transition: 0.1s ease-in
}

/* CLIENTS */

.ourclients{
    background-color: #040504;
    /* background-color: white; */
    color: white;
    /* color: black; */
    padding: 5rem 2rem;
}


.client{
    height: 15vh;
    margin: 1rem;
    cursor: pointer;
}

.client:hover{
    transform: scale(1.1);
}


/* TESTIMONIALS */

.testimons{

    padding: 3rem 1rem;
}

.testimonials{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.review{
    text-align: left;
    width: 450px;
}

.testimonial{
    width: 30vw;
    margin: 1rem;
}


/* CONTACT */

.contact{
    display: flex;
    flex-direction: row;
    margin-top: 18vh;
    justify-content: space-around;
    align-items: center;
}

.map{
    height: 50vh;
    width: 50vh;
    margin: 5rem 3rem;
}


.form-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 4px;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .form-button {
    background-color: #040504;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4;
    cursor: pointer;
  }  

  @media screen and (max-width: 480px) {
    .contact{
        flex-direction: column-reverse;
    }
  }

/* FOOTER  */
.footer{
    background-color: rgb(32, 31, 31);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0rem;
    margin-top: 15vh;
}

.icon{
    cursor: pointer;
    color: white;
    margin: 0.5rem;
}


@media screen and (max-width: 480px) {
    .work{
        flex-direction: column;
        gap: 3rem;
    }

    .logoname{
        display: none;
    }

    .workcard{
        width: 90%;
    }

    .desktop{
        display: none;
    }

    .banner{
        height: 90vh;
    }

    .navbar{
        height: 10vh;
    }

    .footer{
        flex-direction: column;
    }



    .testimonials{
        display: flex;
        flex-direction: column;
        gap: 3rem;

    }

    .testimonial{
        height: 60vh;
        width: 90vw;
    }

  }

  @media screen and (min-width: 480px){
    .mobile{
        display: none;
    }
  }